
.bildetekst {
}
.dato {
}
.feilmelding {
}
.ingress {
}
.sammendrag {
}
.kolonneskille {
}
.listerad0 {
}
.listerad1 {
}
.overskrift{
}


/***** Abonnement *****/
.abonnement {
}
.abonnement .ingress {
}
.abonnement .alternativer {
}
.abonnement .kategorier {
}

/***** Alfabetisk liste *****/
.alfabetiskListe{
}

/***** Artikkel *****/
.artikkel .ingress {
}
.artikkel .bilde {
    float: right;
}
.artikkel .bildetekst {
}
.artikkel .tekst {
}


/***** Avansert søk *****/
.avansertsok .ingress {
}
.avansertsok .valg {
}
.avansertsok .submit {
}
.avansertsok .treff {
}


/***** Avstemming ****/
.avstemming .ingress {
}
.avstemming .sporsmal{
}
.avstemming .resultat {
}
.avstemming .resultat .alternativ{
}
.avstemming .alternativer {

}
.avstemming .alternativer .lenke {

}

/***** Bildealbum *****/
.bildealbum {
}
.bildealbum .ingress {
}
.bildealbum .bilde{
}
.bildealbum .bilde .copyright {
}
.bildealbum .bilde .tittel {
}
.bildealbum .bilde .bildetekst {
}
.bildealbum .navigasjon {
    margin-top: 2em;
    width: 12em;
    margin-left: auto;
    margin-right: auto;
}
.bildealbum a.forrige{
    margin-right: 1em;
    padding-left: 10px;
    background-image: url("../../bitmaps/common/img_link_left.gif");
    background-position: left center;
    background-repeat: no-repeat;
}
.bildealbum a.neste{
    padding-right: 10px;
    background-image: url("../../bitmaps/common/img_link_right.gif");
    background-position: right center;
    background-repeat: no-repeat;
}
.bildealbum .index {
    clear: both;
    width: 380px;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}
.bildealbum .index .forrige {
    vertical-align: middle;
}
.bildealbum .index .neste {
    vertical-align: middle;
}



/***** Liste *****/
liste .ingress {
}
.listeelement {
}
.listeelement .overskrift {
}
.listeelement .ingress {
}
.listeelement .bilde {
    float: left;
}

/***** Nyhet *****/
.nyhet .ingress{
}
.nyhet .bilde{
    float: right;
}
.nyhet .bildetekst{
}
.nyhet .ingress {
}

/***** Nyheter *****/
.nyhetsarkiv {
}
.nyhetsarkiv .ingress{
}
.nyhetsarkiv .liste{
}

/***** Sidekart *****/
.sidekart .ingress {
}

/***** Søkeresultat *****/
.sokeresultat .antallTreff {
}
.sokeresultat .treff {
}
.sokeresultat .treff .smulesti {
}
